@using Lab2_Cifrado.Instancia
@model Lab2_Cifrado.Models.Serie1.Espiral

@{
    ViewBag.Title = "Espiral |";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Cifrado Espiral</h2>
@if (Data.Instancia.ArchivoCargado == false)
{
    @Html.Partial("_CargaArchivoEspiral")
}

@if (Data.Instancia.ArchivoCargado)
{
    @Html.Partial("_OperarEspiral")
}

@if (Data.Instancia.ArchivoCargado && Data.Instancia.EleccionOperacion)
{
    @Html.Partial("_ResultadoEspiral")
}