@model Lab2_Cifrado.Models.Serie2.SDES

<div>
    <h6>Ejemplo de formato de archivo:</h6>
    <img src="@Url.Content("~/Imagenes/EjemploArchivoPermutaciones.jpg")" alt="imgf" />
</div>

<br/>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Carga de archivo de permutaciones</h3>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm("CargarArchivoPermutaciones", "SDES", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" class="form-control-file" name="postedFile" aria-describedby="fileHelp">
            <br />
            <button type="submit" class="btn btn-info">Cargar</button>
        }
    </div>
</div>