@using Lab2_Cifrado.Instancia
@model Lab2_Cifrado.Models.Serie1.ZigZag

@{
    ViewBag.Title = "Zig-Zag |";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Zig-Zag</h2>

@if (Data.Instancia.ArchivoCargado == false)
{
    @Html.Partial("_CargaArchivoZigZag")
}

@if (Data.Instancia.ArchivoCargado && Data.Instancia.EleccionOperacion == false)
{
    @Html.Partial("_OperarZigZag")
}

@if (Data.Instancia.ArchivoCargado && Data.Instancia.EleccionOperacion)
{
    @Html.Partial("_ResultadoZZ")
}